
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --primary-color: #4f46e5;
  --primary-dark-color: #4338ca;
  --text-color: #333;
  --background-color: #f3f4f6;
  --border-color: #d1d5db;
  --error-color: #ef4444;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}